<div class="open-modal" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product detail</h5>
                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-deck">
                    <div class="card bg-transparent">
                        <ul class="list-group text-dark">
                            <li class="list-group-item active">ID {{product.idProduct}}</li>
                            <li class="list-group-item">{{product.name}}</li>
                            <li class="list-group-item">{{product.description}}</li>
                            <li class="list-group-item">{{product.weight}} lbs</li>
                            <li class="list-group-item">{{product.price | currency:'$ '}}</li>
                        </ul>
                        <div class="form-group m-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currency" id="usd" (click)="transformCurrency('USD')" checked>
                                <label class="form-check-label" for="usd">USD</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="currency" id="cop" (click)="transformCurrency('COP')">
                                <label class="form-check-label" for="cop">COP</label>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-transparent" *ngIf="product?.picture1">
                        <img src="http://localhost:8080/api/image/{{product.picture1}}" alt="{{product.picture1}}" class="img-thumbnail rounded">
                    </div>
                    <div class="card bg-transparent" *ngIf="product?.picture2">
                        <img src="http://localhost:8080/api/image/{{product.picture2}}" alt="{{product.picture2}}" class="img-thumbnail rounded">
                    </div>
                    <div class="card bg-transparent" *ngIf="product?.picture3">
                        <img src="http://localhost:8080/api/image/{{product.picture3}}" alt="{{product.picture3}}" class="img-thumbnail rounded">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal()" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>